doctype html
html(lang='en')

    include includes/header

    body

        include includes/menu

        h2.page-header PUBLICATIONS

        div.container
            div.row.justify-content-center
                div#pubs.col-md-8
        script
            include publications.js
