head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    title SupraChem Research Group
    link(rel="stylesheet" href="suprachem.css")
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-48118884-3")
    script(src="suprachem.js")

